spring.application.name=book-tracker
spring.datasource.url=jdbc:postgresql://localhost:5432/booktracker
spring.datasource.username=your_username
spring.datasource.password=your_password
spring.jpa.hibernate.ddl-auto=update
